@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 226 80% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 15%;
    --ring: 226 80% 40%;

    --radius: 0.5rem;

    --chart-1: 226 80% 50%;
    --chart-2: 0 63% 31%;
    --chart-3: 300 80% 55%;
    --chart-4: 120 65% 60%;
    --chart-5: 60 75% 55%;

    --sidebar-background: 240 4% 6%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 226 80% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 15%;
    --sidebar-ring: 226 80% 55%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 226 80% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 15%;
    --ring: 226 80% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes glitter {
    0%, 100% {
      opacity: 1;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    }
    50% {
      opacity: 0.8;
      text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
    }
  }

  .animate-glitter {
    animation: glitter 2s ease-in-out infinite;
  }
}


@layer components {
    .table-row-red {
        @apply border-l-2 border-red-500;
    }
    .table-row-blue {
        @apply border-l-2 border-primary;
    }
    .table-header-dark {
      @apply bg-neutral-800 text-white;
    }
}
